@import url(http://fonts.googleapis.com/css?family=Coustard|Sansita+One);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.links {
    margin: 23px 0;
}
img {
    width: auto;
    margin-top: 23px;
    position:auto;
}
html, body{
    font-family: 'Droid Sans', sans-serif;
    color: #000;
    font-size: 25px;
    text-align: center;
    line-height: 160%;
    height: 100%;
    position: relative;
}
a:link {
    color: #000;
    font-weight: bold;
}
a:visited {
    color: #000;
    font-weight: bold;
}
a:hover {
    color: #1dbacd;
    font-weight: bold;
}
a:active {
    color: #000;
    font-weight: bold;
}
.inside {
    width: auto;
    margin: 0 auto;
    cursor: pointer;
}
#bio .inside {
    cursor: default;
}
.clear {
    clear: both;
}
#bio ul {
    text-align: center;
    width: 1092px;
    margin: 0px auto;
}
#bio ul li {
    display: inline-block;
    margin: 0 0px;
    position: relative;
}
#bio a img:hover {
    opacity: .8;
}
#bio ul li .picture img {
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 1152px) {
    .inside {
        width: 80%;
    }
    #school ul, #bio ul {
        width: 100%;
        margin: 0;
    }
    #bio ul li {
        margin: 0 60px 60px !important;
    }
}
@media screen and (max-width: 830px) {
    .logo {
        float: none !important;
        text-align: center;
        margin: 0 auto;
    }
    header nav ul {
        text-align: center;
        float: none;
        margin: 0px 0 0;
    }
    header nav ul li {
        margin: 0 15px;
    }
    #sub {
        text-align: center;
    }
    #sub h2 {
        width: 100%;
        font-size: 25px;
    }
}
@media screen and (max-width: 600px) {
    footer {
        height: auto;
    }
    footer p.copyright {
        float: none;
        text-align: center;
        padding: 50px 0 40px;
        font: 400 14px "Open Sans", Arial, sans-serif;
    }
    .favorites-section {
        display: block;
        margin: 0 auto 10px;
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    #bio ul li {
        margin: 0 30px 60px !important;
    }
    #bio ul li .picture {
        width: 200px;
        height: 200px;
    }
    #sub h2 {
        font-size: 25px;

    }
}
